body,
html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
#header-img {
  width: 100%;
}
#nav-bar {
  font-family: "Parisienne", cursive;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  background-color: black;
  list-style: none;
  justify-content: space-around;
}
a {
  color: white;
  text-decoration: none;
}
.nav-link {
  padding-left: 7%;
  padding-right: 7%;
}
#form {
  font-family: "Old Standard TT", serif;
  font-size: 1.5em;
  margin-top: 2em;
  width: 50%;
  margin-left: 33%;
}
#video {
  margin-top: 3rem;
  margin-left: 9rem;
  margin-right: auto;
  /* width: 70rem; */
  height: 500px;
}
#grayspace {
  background-color: darkgray;
}
.name {
  font-family: "Parisienne", cursive;
  font-size: 40px;
  color: black;
  margin-left: 36rem;
  margin-right: auto;
}
#date {
  font-family: "Old Standard TT", serif;
  font-size: 17px;
  margin-top: -50px;
  color: darkgray;
}
h3 {
  width: 70%;
  margin-left: 5rem;
  color: black;
}
#text1,
#text2 {
  display: flex;
  flex-direction: row;
  margin-top: 9rem;
  width: 80%;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  background-color: lightgray;
  padding-top: 1em;
  padding-bottom: 1em;
}
#content-images {
  width: 480px;
  height: 450px;
  border-radius: 50%;
  margin-right: 5rem;
  margin-top: 0.5rem;
}
#content-image2 {
  /* width: 350px; */
  height: 550px;
  border: 10px darkgray solid;
  margin-right: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
footer img {
  width: 200px;
  height: auto;
}
footer {
  background-color: darkgray;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#page-navigation {
  color: black;
  font-family: "Parisienne", cursive;
  font-size: medium;
}
